---
layout: layout.liquid
title: Color Mix
---


<main>
  <section class="filmtophone">
  
    <h2>New CSS Feature : color-mix()</h2> 
    
  <section class="details">
    <h3>How it works?</h3>
    <p>The color-mix() allows a developer to mix 2 colors values
      (based on channels like srgb, lch, etc.) in order to produce a new color value.</p>
    <h3>Demo</h3>
    <p>In this demo we can mix the pink and blue default colors and get a
      color mix of the two. Color mix take the following three parameters :
      <ul>
        <li> A specified channel</li>
        <li> Color 1 and its percentage</li>
        <li> Color 2 and its percentage</li>
        </ul>
        *** If no percentage is specified, a defualt of 50% is used.
    </p>
    <div class=" colorDemo">
      <span id="colorOne"> C1:&starf; </span>
      <span id = "operators"> + </span>
      <span id="colorTwo">C2 &starf; </span>
      <span id = "operators"> = </span>
      <span id="colorThree"> C3 &starf; </span>
      
    </div>
  </section>
  <section class="formstuff">
  </section>
  <a href="https://developer.chrome.com/blog/whats-new-css-ui-2023#color-mix" target="_blank" rel="noreferrer noopener">
  <div class="colorlink"> 
   <h3>Read more about color-mix() here</h3> 
   <span id= "link" ></span></div>
   </a>
</main>
